body {
  overflow-y: hidden; /* включает вертикальный скролл */
}
/* Ссылки-картинки */
.childStones {
  position: absolute;
  top: 38.558%;
  left: 53.95%;
  z-index: 2;
}
.childGreenhouse {
  position: absolute;
  top: 36.9%;
  left: 14.4%;
}
.childfishermanhouse {
  position: absolute;
  top: 54.83%;
  left: 60.72%;
}
.childfrontdoor {
  position: absolute;
  top: 25.08%;
  left: 54.12%;
}
.childbacktdoor {
  position: absolute;
  top: 31.3745%;
  left: 66.2%;
}
.childforge {
  position: absolute;
  top: 26.3%;
  left: 33.35%;
}
/* Предметы в инвентаре */
.key1{
  position: absolute;
  top: 20%;
  left: 90%;
  width: 3.4vw;
}
/* Карта */
.parentMap {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  overflow: hidden;
}
/* меню эффект */
.hover-image-scale {
  display: inline-block;
  overflow: hidden; /* Скрываем всё за контуром */
}
.hover-image-scale img {
  transition: 0.5s; /* Время эффекта */
  display: block;
  opacity: .6;
}
.hover-image-scale img:hover {
  cursor: pointer;
  opacity: 1;
}
/* Интерфейс справа от карты */
.childLogin{
  position: absolute;
  top: 1.15%;
  left: 0%;
}
.childRegistration{
  position: absolute;
  top: 8.75%;
  left: 0%;
}
.childAbout{
  position: absolute;
  top: 16.42%;
  left: 0%;
}
.childName{
  position: absolute;
  top: 25%;
  left: 1%;
}
.childKey1{
  position: absolute;
  top: 29%;
  left: 1%;
}
.childKey2{
  position: absolute;
  top: 34%;
  left: 1%;
}
.childText{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: serif;
}
/* белый текст */
.whiteText{
  color: white;
}

/*  ===== Выдвигающаяся верхняя панель
*   =========================================
*   Базовый контейнер выдвижной панели */
/* Блок сообщения */
.message {
    position: absolute;
    display: grid;
    top: -33vw;
    left: 16vw;
    width: 0px;
    height: 0px;
    transition: all 1000ms cubic-bezier(0.01,0.09,0.03,0.94);
    z-index: 3;
}
/* Переключатель панели */
label.btn {
    display: block;
    position: absolute;
    right: 50.2vw;
    top: -0.5vw;
    cursor: pointer;
    cursor: pointer;
    transition: all 1000ms cubic-bezier(0.01,0.09,0.03,0.94)
}
/* Стрелка переключателя вниз */
label.btn:after {
}
/* Активация панели */
.open:checked ~ .message {
    top: 0%;
    right: 0%;
}

.open:checked ~ label.btn {
    top: 32.5vw;
}
/* Смещение контейнера контента страницы */
.open:checked ~ .message{
}
/* Стрелка переключателя вверх*/
.open:checked + label.btn:after {
}

/* ссылки для разработки */
.childhallDD{
  position: absolute;
  top: 39%;
  left: 1%;
}
.childkitchenDD{
  position: absolute;
  top: 44%;
  left: 1%;
}
.childloftDD{
  position: absolute;
  top: 49%;
  left: 1%;
}
.childfishermanDD{
  position: absolute;
  top: 54%;
  left: 1%;
}
.childforgeDD{
  position: absolute;
  top: 59%;
  left: 1%;
}
.childstonesDD{
  position: absolute;
  top: 64%;
  left: 1%;
}
.childgreenhouseDD{
  position: absolute;
  top: 69%;
  left: 1%;
}