<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include 'siteapp/include_files/head.html' %}
    </head>
<body>
    <div class="backdiv">
        <a class="back" href="{% url 'siteapp:index' %}">Карта</a>
    </div>
    <div class="childKey1">
        <a class="childText" href="{% url 'siteapp:getmaster' %}">Получить все ключи</a>
    </div>
    <div class="parentMap">
       <img src="/media/fishermanroom.png" alt="..." style="height: 59vw; width: 100vw; display: block;" >
    </div>
</body>
</html>