<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include 'siteapp/include_files/head.html' %}
    </head>
<body>
    <a class="whiteText" href="{% url 'siteapp:index' %}">Home</a>
    <div class="childKey1">
        <a class="childText" href="{% url 'siteapp:getmaster' %}">Получить все ключи</a>
    </div>
    <div class="parentMap">
         <img src="/media/forgeroom.png" alt="..." style="height: 59vw; width: 100vw; display: block;" >
         <! -- верхняя доска -->
            <input class="open" id="down-box" type="checkbox" hidden>
            <label class="btn" for="down-box">
                <img src="/media/Bookmark.png" alt="..." style="width: 2.7vw; height: 3.7vw;">
            </label>
            <div class="message">
                <img src="/media/BulletinForge.png" alt="..." style="width: 65vw; height: 33vw;">
            </div>

    </div>
</body>
</html>