<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include 'siteapp/include_files/head.html' %}
    </head>
    <body>
        {% include 'siteapp/include_files/navigation.html' %}
        <h1>Hello</h1>
        <br>
        <br>
        <div class="parentMap">
            <img src="/media/MapWFramelarge.png" alt="..." style="width: 100vw; height: 49.72vw; display: block; " >
            <div class="childStones">
                <a href="{% url 'siteapp:patch_list' %}">
                    <img class="img1" src="/media/stone.png" alt="" style="width: 8.9vw; height: 6.85vw;"/>
                </a>
            </div>
        </div>
        <input class="open" id="down-box" type="checkbox" hidden>
        <label class="btn" for="down-box"></label>
        <div class="message">
                <img src="/media/Bulletin.png" alt="..." style="width: 100vw; height: 33vw; display: block; ">
        </div>
    </body>
</html>


