<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include 'siteapp/include_files/head.html' %}
    </head>
    <body>
        <div class="parentMap">
            <img src="/media/about.png" alt="..." style="height: 59vw; width: 100vw; display: block;" >
        </div>
        <div class="backdiv">
            <a class="back" href="{% url 'siteapp:index' %}">К игре</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="whiteText">
            Дипломная работа Петайкина Романа
            <br>
            <br>
            И пары рисующих нейросетей
        </div>
    </body>
</html>