<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include 'siteapp/include_files/head.html' %}
    </head>
    <body>
        <div class="parentMap">
            <img src="/media/night.png" alt="..." >
        </div>
        <a class="whiteText" href="{% url 'siteapp:index' %}">Home</a>
        <br>
        <br>
        <div class="whiteText">
            Список патчей
        </div>
        <br>
        <br>
        <div class="whiteText">
            <ul>
                {% for item in object_list %}
                    <li>
                        {{item.name}}
                        <br>
                        {{item.description}}
                        <br>
                        {{item.date}}
                        <br>
                        <br>
                        <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>