<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    {% include 'siteapp/include_files/head.html' %}
</head>
<body>
    <div class="parentMap">
        <img src="/media/day.png" alt="День регистрации" style="height: 58vw; width: 100vw; display: block;">
    </div>
    <div class="right">
        <form method="post" id="contactForm">
            {% csrf_token %}
            {% for field in form %}
                <p class="formText">{{ field.label_tag }}</p>
                <p>{{ field }}</p>
                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <br>
            <div class="bd">
                <button class="s-button" type="submit" id="sendMessageButton">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</body>
</html>
