<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    {% include 'siteapp/include_files/head.html' %}
</head>
<body>
    <div class="backdiv">
        <a class="back" href="{% url 'siteapp:index' %}">Карта</a>
    </div>
    <div class="parentMap">
        <img src="/media/storage.png" alt="Карта игрового мира" style="height: 59vw; width: 100vw; display: block;">
        <!-- верхняя доска -->
        <input class="open" id="down-box" type="checkbox" style="display:none;">
        <label class="btn" for="down-box">
            <img src="/media/Bookmark.png" alt="Закладка" style="width: 2.7vw; height: 3.7vw;">
        </label>
        <div class="message">
            <img src="/media/BulletinStones.png" alt="Объявление о камнях" style="width: 65vw; height: 33vw;">
        </div>
    </div>
</body>
</html>
